/*
Aaron Van Cleave
CIS 399
Spring 2020
University of Oregon

HW1 File 2 of 3
*/

/*
CSS originally adapted from 
https://jsbin.com/fakurijuqe/edit?html,css,js,output
*/

/*
_____________________________________________________________________
ELEMENT RULES
_____________________________________________________________________
*/

rect
{
  fill: green;
}

text
{
	fill: black;
}

/*
_____________________________________________________________________
IDs
_____________________________________________________________________
*/

#unique
{
  fill: red;
}

/*
CLASSES
*/

.header_rect
{
  fill: #AAAACC;
}

.d_per_rect
{
  fill: blue;
}

.r_per_rect
{
  fill: red;
}

.education_rect
{
  fill: yellow;
}

.economy_rect
{
  fill: orange;
}

.environment_rect
{
  fill: dark green;
}

.crime_rect
{
  fill: purple;
}

.health_rect
{
  fill: brown;
}

.default_rect
{
  fill: dark red;
}


